[keyboard]
name = "JLKB Keyboard"
product_name = "JLKB Keyboard"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "jlkb"
chip = "nrf52840"

[matrix]
# Row and col pins are mandatory
row_pins = ["P1_13", "P1_11", "P0_10", "P0_09"]
col_pins = ["P1_06", "P1_04", "P0_11", "P1_00"]
# RMK uses col2row as the default matrix diode direction, if you want to use a row2col matrix, add `row2col = true`
# row2col = true

[layout]
rows = 4
cols = 4
layers = 2
matrix_map = """
(0,0) (0,1) (0,2) (0,3)
(1,0) (1,1) (1,2) (1,3)
(2,0) (2,1) (2,2) (2,3)
(3,0) (3,1) (3,2) (3,3)
"""
[[layer]]
name = "base_layer"
keys = """
Kp1 Kp1 Kp1 Kp1
Kp1 Kp1 Kp1 Kp1
Kp1 Kp1 Kp1 Kp1
Kp1 Kp1 Kp1 Kp1 
"""

[[layer]]
name = "second_layer"
keys = """
Kp1 Kp1 Kp1 Kp1
Kp1 Kp1 Kp1 Kp1
Kp1 Kp1 Kp1 Kp1
Kp1 Kp1 Kp1 Kp1 
"""

[aliases]
my_copy = "WM(C, LCtrl)"
my_paste = "WM(V, LCtrl)"

[ble]
enabled = true
# vddh has an internal voltage divider
battery_adc_pin = "vddh"
# Or
# battery_adc_pin = "P0_04"
# adc_divider_measured = 2000
# adc_divider_total = 2806

[rmk]
combo_max_num = 128 
fork_max_num = 16
