[keyboard]
name = "RMK Keyboard"
product_name = "CUT"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "haobo"
chip = "nrf52840"

[matrix]
# Row and col pins are mandatory
row_pins = ["P0_09", "P0_24", "P0_00", "P0_13"]
col_pins = ["P1_11", "P0_30","P1_10", "P0_10"]
# RMK uses col2row as the default matrix diode direction, if you want to use a row2col matrix, add `row2col = true`
# row2col = true

[layout]
rows = 4
cols = 4
layers = 2
matrix_map = """
(0,0) (0,1) (0,2) (0,3)
(1,0) (1,1) (1,2) (1,3)
(2,0) (2,1) (2,2) (2,3)
(3,0) (3,1) (3,2) (3,3)
"""
[[layer]]
name = "base_layer"
keys = """
NumLock KpSlash KpAsterisk KpMinus
Kp7     Kp8     Kp9        KpPlus
Kp4     Kp5     Kp6        Kp6
Kp1     Kp2     Kp3        Enter
"""

[[layer]]
name = "second_layer"
keys = """
NumLock KpSlash KpAsterisk KpMinus
Kp7     Kp8     Kp9        KpPlus
Kp4     Kp5     Kp6        Kp6
Kp1     Kp2     Kp3        Enter
"""

[aliases]
my_copy = "WM(C, LCtrl)"
my_paste = "WM(V, LCtrl)"

[light]
# All light pins are high-active by default, uncomment if you want it to be low-active
# capslock.pin = "P0_30"
# capslock.low_active = false
# scrolllock.pin = "PA3"
# scrolllock.low_active = true
# Just ignore if no light pin is used for it
# numslock.pin = "PA5"
# numslock.low_active = true

[[input_device.encoder]]
pin_a = "P0_02"
pin_b = "P1_13"

# Whether to use the MCU's internal pull-up resistor, default to false
internal_pullup = true

# Working mode of the encoder
# Available modes:
# - default: resolution = 1
# - resolution: custom resolution, requires specifying resolution and reverse parameters
phase = "resolution"

# `resolution` represents the number of steps generated per detent.
#
# When your encoder datasheet lists:
#   - detent = number of mechanical detent positions  
#   - pulse  = number of full quadrature cycles (A/B cycles)  
#
# Then the relationship is:
#   resolution = (pulse × 4) / detent
# because each full quadrature cycle (pulse) produces 4 edge transitions.
#
# For example — in the ALPS EC11E series(https://tech.alpsalpine.com/cms.media/product_catalog_ec_01_ec11e_en_611f078659.pdf):
#   detent = 30, pulse = 15 → resolution = (15 × 4) / 30 = 2
resolution = 4

# Whether the direction of the rotary encoder is reversed.
reverse = false

[[input_device.encoder]]
pin_a = "P0_05"
pin_b = "P1_09"
phase = "resolution"
internal_pullup = true
resolution = 4
reverse = false
# Encoder 2
[[input_device.encoder]]
pin_a = "P0_28"
pin_b = "P0_03"
phase = "resolution"
internal_pullup = true
resolution = 2
reverse = false

[storage]
# Storage feature is enabled by default
# enabled = false
# clear_storage = true

[ble]
enabled = true
# vddh has an internal voltage divider
battery_adc_pin = "vddh"
# Or
# battery_adc_pin = "P0_04"
# adc_divider_measured = 2000
# adc_divider_total = 2806

[behavior.combo]
timeout = "150ms"
combos = [
  # Press J and K keys simultaneously to output "L"
  { actions = ["J", "K"], output = "L" },
  # Press F and D keys simultaneously to switch to layer 2, but only valid on layer 0
  { actions = ["F", "D"], output = "TO(1)", layer = 0 },
  # Three-key combo, press A, S, and D keys to output "X"
  { actions = ["A", "S", "D"], output = "X" }
]

[rmk]
combo_max_num = 128 
fork_max_num = 16
